.display__column {
    display: flex;
    flex-direction: column;
    width: 32rem;
    /* padding: 0; */
}
.line-container {
    display: flex;
}
.line {
    width: 4rem;
    height: 0.3rem;
    background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
        #ffffff;
}
.no-line {
    display: none;
}
.feature__container {
    display: flex;
}
.feature__header {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 6rem;
    letter-spacing: -0.04em;
    color: #ffffff;
    width: 100%;
    margin-bottom: 4rem;
}

.feature__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #81afdd;
}

.whatgpt__feature-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    .feature__container {
        flex-direction: column;
        text-align: center;
    }

    .whatgpt__feature-container {
        justify-content: center;
        align-items: center;
    }
    .feature__container {
        margin: 2rem;
    }
    .line {
        align-self: center;
    }
    .line-container {
        display: flex;
        justify-content: center;
    }
}
